<section class="container px-15">
  <div class="flex justify-center">
    <div class="max-w-600">
      <h4 class="text-20 xl:text-30 text-primary font-medium mb-15 uppercase">Get in touch</h4>
      <p class="text-12 xl:text-14 text-primary mb-50">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </p>
      <div class="bg-thick px-15 pt-15 pb-25 xl:px-30 xl:pt-20 xl:pb-30 mb-30">
        <h4 class="text-16 md:text-20 text-primary font-medium mb-20">Contact Form</h4>
        <form class="text-primary">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-x-30 mb-20 xl:mb-30">
            <div class="form-group mb-20 md:mb-0">
              <label for="name">Name <span class="text-secondary">*</span></label>
              <input type="text" id="name" class="form-control" />
            </div>

            <div class="form-group">
              <label for="email">Email Address <span class="text-secondary">*</span></label>
              <input type="email" id="email" class="form-control" />
            </div>
          </div>

          <div class="form-group mb-20">
            <label for="message">Message <span class="text-secondary">*</span></label>
            <textarea id="message" class="form-control min-h-120"> </textarea>
          </div>

          <div class="flex justify-end">
            <button class="btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
