<div class="flex mb-25">
  <div class="bg-black min-w-170 min-h-170"></div>
  <div class="bg-thick flex items-center">
    <div class="px-25 py-30">
      <h5 class="text-white font-medium text-23">Game Title</h5>
      <h6 class="text-primary font-medium text-19 mb-15">Release Date: DD/MM/YYYY</h6>
      <p class="text-primary">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.
      </p>
    </div>
    <div class="pr-60 px-30">
      <div class="bg-secondary rounded-full text-white text-32 font-medium w-45 h-45 flex items-center justify-center">
        <span>9</span>
      </div>
    </div>
  </div>
</div>
