@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Mulish', sans-serif;
}

.form-group {
  @apply flex flex-col;
  label {
    @apply font-medium mb-5 text-12 xl:text-14;
  }
  .form-control {
    @apply bg-dark py-[5px] xl:py-[8px] px-10 outline-0 text-12 xl:text-14 h-[28px] xl:h-[34px];
  }
}

.btn-primary {
  @apply text-white font-medium bg-secondary px-25 py-[5px] xl:py-[8px] w-full xl:w-auto text-12 xl:text-14 h-[28px] xl:h-[34px];
}
